doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title MartaUP - Main Page
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap", rel="stylesheet")
        link(rel="stylesheet" href="css/style.min.css")
    body
        header.header(style={"background-image": "url('images/header-bg.jpg')"})
            .container
                .header__top
                    .logo
                        |
                        |
                        a.logo__link(href="index.html")
                            img.logo__img(src="images/logo.svg", alt="Logo")
                    nav.menu
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href="#") Home
                            li.menu__item
                                a.menu__link(href="#") Work
                            li.menu__item
                                a.menu__link(href="#") About
                            li.menu__item
                                a.menu__link(href="#") Contact
                    .header__buttons
                        a.login.header__btn(href="#") Login
                        a.sign-up.header__btn(href="#") Sign Up
                .header-slider
                    .header-slider__item
                        .header-slider__item-content
                            .header-slider__item-info
                                h3.header-slider__title We Build Apps & Websites for Your Business
                                .header-slider__description For startups, For businesses & For you
                                a.header-slider__btn(href="#")  Request a quote
                            .header-slider__item-image
                                img.header-slider__image(src="images/header-slider.png", alt="Slider Image")
                    .header-slider__item
                        .header-slider__item-content
                            .header-slider__item-info
                                h3.header-slider__title We Build Apps & Websites for Your Business
                                .header-slider__description For startups, For businesses & For you
                                a.header-slider__btn(href="#")  Request a quote
                            .header-slider__item-image
                                img.header-slider__image(src="images/header-slider.png", alt="Slider Image")
                    .header-slider__item
                        .header-slider__item-content
                            .header-slider__item-info
                                h3.header-slider__title We Build Apps & Websites for Your Business
                                .header-slider__description For startups, For businesses & For you
                                a.header-slider__btn(href="#")  Request a quote
                            .header-slider__item-image
                                img.header-slider__image(src="images/header-slider.png", alt="Slider Image")
                    .header-slider__item
                        .header-slider__item-content
                            .header-slider__item-info
                                h3.header-slider__title We Build Apps & Websites for Your Business
                                .header-slider__description For startups, For businesses & For you
                                a.header-slider__btn(href="#")  Request a quote
                            .header-slider__item-image
                                img.header-slider__image(src="images/header-slider.png", alt="Slider Image")
                    .header-slider__item
                        .header-slider__item-content
                            .header-slider__item-info
                                h3.header-slider__title We Build Apps & Websites for Your Business
                                .header-slider__description For startups, For businesses & For you
                                a.header-slider__btn(href="#")  Request a quote
                            .header-slider__item-image
                                img.header-slider__image(src="images/header-slider.png", alt="Slider Image")
        section.specialised(style={"background-image": "url('images/special-bg.svg')"})
            .container
                h4.specialised__title.title We are specialised in
                .specialised__items
                    .specialised__item
                        img.specialised__item-img(src="images/special-1.svg", alt="Item Image")
                        h5.specialised__item-title UI/UX Design
                        span.specialised__item-text In hac habitasse platea dictumstmus adipiscing fermentum quam volutpat aliquam. Integer cilisis tristique.
                    .specialised__item
                        img.specialised__item-img(src="images/special-2.svg", alt="Item Image")
                        h5.specialised__item-title Web Development
                        span.specialised__item-text In hac habitasse platea dictumstmus adipiscing fermentum quam volutpat aliquam. Integer cilisis tristique.
                    .specialised__item
                        img.specialised__item-img(src="images/special-3.svg", alt="Item Image")
                        h5.specialised__item-title App Development
                        span.specialised__item-text In hac habitasse platea dictumstmus adipiscing fermentum quam volutpat aliquam. Integer cilisis tristique.
                

        script(src="js/main.min.js")