.footer {
    background-color: #fff;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px 17px;
        color: #272727;
    }
}
.footer__link + .footer__link {
    margin-left: 20px;
}